.characteristics__table {
    width: 100%;
    max-width: 565px;
}
.characteristics__table {
    tr {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $border-grey;
        width: auto;
        padding-top: 20px;
        padding-bottom: 8px;
    }
}

.characteristics__data {
    &--black {
        color: $classic-black;
    }
}