.characteristics {
    padding-top: 10px;
}
.characteristics__table {
    width: 100%;
    max-width: 570px;
}
.characteristics__table {
    tr {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $border-grey;
        width: auto;
        padding-top: 18px;
        padding-bottom: 8px;
        letter-spacing: 0.4px;
    }
}

.characteristics__data {
    &--black {
        color: $classic-black;
    }
}