.header {
    background-color: $light-blue;
    width: 100%;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 84px;
    padding: 15px 14px;
    box-sizing: border-box;
    @media (min-width: $desktop-width-large) {
        padding-right: 4px;
        padding-left: 4px;
    }
}

.header__nav {
    width: 520px;
}