.header {
    background-color: $light-blue;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 84px;
    padding: 15px 0;
    max-width: $desktop-width;
    margin: 0 auto;
    align-items: center;
}