.tabs__list {
    display: flex;
}

.tabs__item {
    box-sizing: border-box;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 10px;
    width: 196px;
    border: 1px solid $border-grey;
    font-size: 20px;
    line-height: 27.24px;
    cursor: pointer;

    &--current {
        color: white;
        background-color: $basic-red;
    }
}